{% extends "base.html" %}

{% block content %}
  <h1>IP's</h1>
  {% if device_ip_list %}
  <div class="table-responsive">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Department</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
          {% for ip in device_ip_list %}
          <tr>
              <td>{{ ip.ip }}</td>
              <td>{{ ip.department.name }}</td>
              <td><a class="text-info" href="{% url 'device:device-ip-update' pk=ip.id %}">Update</a></td>
              <td><a class="text-danger" href="{% url 'device:device-ip-delete' pk=ip.id %}">Delete</a></td>
          </tr>
          
      {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
    <p>There are no ip's in IP!</p>
  {% endif %}

  <a class="button" style="float: right;" href="{% url 'device:device-ip-create' %}">Create</a>

 

{% endblock %}