{% extends "base.html" %}

{% block content %}
  <h1>Departments</h1>
  {% if device_department_list %}
  <div class="table-responsive">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Name</th>
          <th>Site</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
          {% for department in device_department_list %}
          <tr>
              <td>{{ department.name }}</td>
              <td>{{ department.site.name }}</td>
              <td><a class="text-info" href="{% url 'device:device-department-update' pk=department.id %}">Update</a></td>
              <td><a class="text-danger" href="{% url 'device:device-department-delete' pk=department.id %}">Delete</a></td>
          </tr>
          
      {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
    <p>There are no departments in Department!</p>
  {% endif %}

  <a class="button" style="float: right;" href="{% url 'device:device-department-create' %}">Create</a>

 

{% endblock %}