{% extends "base.html" %}

{% block content %}
<a href="{% url 'device:device-list' %}">
  <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="text-dark" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5ZM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5Z"/>
  </svg>
</a>
<br>
  <h1>Name: <strong>{{ device.name }}</strong></h1>
    <hr>
        <h1>Transaction</h1>
    <hr>

    <form id="comment-form" method="post" action="">
      {% csrf_token %}
      <div class="form-group">
        <label for="comment">Comment:</label>
        <textarea class="form-control" id="comment" name="comment" rows="1"></textarea>
      </div>
      <button type="submit" class="btn btn-primary">Add Comment</button>
    </form>

    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>User</th>
            <th>Datetime</th>
            <th>Notes</th>
          </tr>
        </thead>
        <tbody>
          {% for transaction in transactions %}
          <tr>
            <td>{{ transaction.user.username }}</td>
            <td>{{ transaction.datetime }}</td>
            <td>{{ transaction.notes }}</td>
          </tr>
        {% empty %}
            <td>There is no transaction</td>
        {% endfor %}
        </tbody>
      </table>
    
{% endblock %}