{% extends 'base.html' %}
{% load crispy_forms_filters %}

{% block content %}
  <h1 class="title">{{ object|yesno:"Update,Create" }} Department</h1>
            <form action="" method="post" novalidate>
                {% csrf_token %}
                {{ form|crispy }}
                    <br>  
                    <input class="btn btn-primary" type="submit" value="Submit">
            </form>
            <br>
            <a href="{% url 'device:device-department-list' %}"><button class="btn btn-secondary">Cancel</button></a>
    
{% endblock %}